section.about.sq-padding
    .container
        .row
            .col-lg-6
                .about__title
                    h3.h3   Обо мне
        .row
            .col-lg-6
                .about__content
                    p.txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur beatae, enim et explicabo ipsa iure minus modi natus nihil nobis nulla perferendis porro quis sed sint tenetur veritatis voluptas!
            .col-lg-6
                .skills
                    // skill
                    .skill
                        // title
                        .skill-title
                            | HTML/CSS
                        // bar
                        .skill-bar(data-bar='100')
                            span
                    // #skill
                    // skill
                    .skill
                        // title
                        .skill-title
                            | Javascript
                        // bar
                        .skill-bar(data-bar='70')
                            span
                    // #skill
                    // skill
                    .skill
                        // title
                        .skill-title
                            | CMS(ModX Revo/OpenCart)
                        // bar
                        .skill-bar(data-bar='80')
                            span
                    // #skill
                    // skill
                    .skill
                        // title
                        .skill-title
                            | Дизайн
                        // bar
                        .skill-bar(data-bar='90')
                            span
                    // #skill

