header.main-head
    .main-head__top-line
        a(href="#").logo
            img(src="../img/logo.svg").logo__img
            span.logo__title    Eraseman
        ul.main-menu
            li.main-menu__item
                a(href="#").main-menu__link обо мне
            li.main-menu__item
                a(href="#").main-menu__link портфолио
            li.main-menu__item
                a(href="#").main-menu__link Контакты
    .main-head__content
        .container
            .row
                .w-content
                    h2.h2   Frontend-разработчик
                    a(href="#").btn Узнать больше

